:host{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h2 {
  font-weight: 600;
}

.actions {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

a, button {
  font-size: 15px;
  border: none;
  background-color: var(--text-color);
  padding: 7px 9px;
  color: var(--background-primary);
  border-radius: 5px;
  margin: 3px 0px;
  transition: all 0.2s ease;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 4px;
}

a:hover,
button:hover {
  cursor: pointer;
  transform: translateY(3px);
}

a:active,
button:active {
  cursor: pointer;
  transform: scale(0.985);
}

.update {
  background-color: rgb(96, 207, 255);
}

.delete {
  background-color: rgb(255, 82, 82);
}

.container-cards {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  background-color: var(--background-secundary);
  padding: 15px;
  border-radius: 5px;
  transition: all 0.2s ease;
  border: 2px solid transparent;
  box-shadow: 0px 0px 7px 7px var(--box-shadow);
  border: 2px solid var(--border-color);
  text-align: center;
  width: max-content;
}

.card h3 {
  font-weight: 400;
}

.card:hover {
  color: var(--high-light-color);
  border: 2px solid var(--high-light-color);
  transform: scale(1.02);
}