<h2>Item: {{ item.name }}</h2>
<p>Descrição: {{ item.description }}</p>

<div class="actions">
  <a class="update" [routerLink]="['/items/edit', item.id]">
    <i class="fa-solid fa-pen-to-square"></i>
    <span>Atualizar</span>
  </a>
  <button (click)="onDeleteItem(item)" class="delete" type="button">
    <i class="fa-solid fa-trash-can"></i>
    <span>Excluir</span>
  </button>
</div>

<div class="container-cards">
  <div class="card">
    <h3>Categoria: {{ item.category }}</h3>
  </div>

  <div class="card">
    <h3>Quantidade em estoque: {{ item.quantity }}</h3>
  </div>

  <div class="card">
    <h3>Preço: R$ {{ item.price }}</h3>
  </div>
</div>

<section class="container-log">
  <h2>Registro geral do item</h2>
  <h4>Produto registrado em {{ item.createdAt | date : "short" }}</h4>

  <div class="log">
    @for (log of item.history; track $index) {
    <p>{{ log }}</p>
    } @empty {
    <p>Nenhuma mudança registrada</p>
    }
  </div>

  <button (click)="onDeleteLog(item)" type="button">Apagar registro</button>
</section>
