:host {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 8px;
  margin-top: 50px;
  background-color: var(--background-secundary);
}

a {
  font-weight: bold;
}

a:hover {
  color: var(--high-light-color);
  text-decoration: underline;
}
