:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 8px 10px;
  margin-top: 50px;
  background-color: var(--background-secundary);
}

p {
  text-align: center;
}

a {
  font-weight: bold;
}

a:hover {
  color: var(--high-light-color);
  text-decoration: underline;
}

@media screen and (max-width: 330px) {
}
