:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px 5px;
  font-family: var(--title-font);
}

a {
  transition: all 0.2s ease;
}

a:hover {
  color: var(--high-light-color);
}

h1 {
  font-weight: 500;
}

.container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.theme {
  background-color: var(--background-icon-theme);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 35px;
  height: 35px;
  transition: all .15s ease;
}

.theme:hover {
  transform: translateY(-2px);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.theme i {
  font-size: 1.3em;
}

.theme #moon {
  color: #ffffff;
}

.theme #sun {
  color: #000000;
}

.theme i:hover {
  cursor: pointer;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-right: 10px;
  font-size: 1.22em;
}

li {
  position: relative;
}

li:hover {
  cursor: pointer;
  color: var(--high-light-color);
}

li::before {
  content: "";
  background-color: var(--high-light-color);
  transition: all 0.25s ease;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
}

li:hover::before {
  width: 50%;
}

li::after {
  content: "";
  background-color: var(--high-light-color);
  transition: all 0.25s ease;
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 2px;
}

li:hover::after {
  width: 50%;
}
