@if (idItem) {
<h2>Editando informações de {{ item.name }}</h2>
}

<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="container-form-group">
    <div class="form-group">
      <div class="form-group-data">
        <label for="name">Nome</label>
        <input
          formControlName="name"
          type="text"
          name="name"
          id="name"
          placeholder="Nome"
          maxlength="30"
          autocomplete="none"
        />
      </div>

      <div class="form-group-error">
        <div
          *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched" class="error">
          <p><i class="fa-solid fa-circle-exclamation"></i> Obrigatório</p>
        </div>
        <div
          *ngIf="form.get('name')?.hasError('minlength') && form.get('name')?.touched" class="error">
          <p><i class="fa-solid fa-circle-exclamation"></i> No mínimo 2 caracteres</p>
        </div>
        <div
          *ngIf="form.get('name')?.hasError('maxlength') && form.get('name')?.touched" class="error">
          <p><i class="fa-solid fa-circle-exclamation"></i> No máximo 30 caracteres</p>
        </div>
      </div>

    </div>
    <div class="form-group">
      <div class="form-group-data">
        <label for="quantity">Quantidade</label>
        <input
          formControlName="quantity"
          type="number"
          name="quantity"
          id="quantity"
          placeholder="Quantidade"
        />
      </div>
      <div class="form-group-error">
        <div
          *ngIf="form.get('quantity')?.hasError('required') && form.get('quantity')?.touched" class="error">
          <p><i class="fa-solid fa-circle-exclamation"></i> Obrigatória</p>
        </div>
        <div
          *ngIf="form.get('quantity')?.hasError('min') && form.get('quantity')?.touched" class="error">
          <p><i class="fa-solid fa-circle-exclamation"></i> No mínimo 1</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-data">
        <label for="price">Preço ($)</label>
        <input
          formControlName="price"
          type="number"
          name="price"
          id="price"
          placeholder="Preço"
        />
      </div>
      <div class="form-group-error">
        <div
          *ngIf="form.get('price')?.hasError('required') && form.get('price')?.touched" class="error">
          <p><i class="fa-solid fa-circle-exclamation"></i> Obrigatório</p>
        </div>
        <div
          *ngIf="form.get('price')?.hasError('min') && form.get('price')?.touched" class="error">
          <p><i class="fa-solid fa-circle-exclamation"></i> No mínimo R$ 0.05</p>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="category">Categoria</label>
      <select formControlName="category" name="category" id="category">
        <option disabled selected value="">Selecione uma Categoria</option>
        @for (category of listCategory; track $index) {
        <option [value]="category">
          {{ category }}
        </option>
        }
      </select>

      <div
        *ngIf="form.get('category')?.hasError('required') && form.get('category')?.touched" class="error">
        <p><i class="fa-solid fa-circle-exclamation"></i> Obrigatório</p>
      </div>
    </div>
  </div>

  <textarea
    formControlName="description"
    name="description"
    id="description"
    placeholder="Descrição"
  ></textarea>

  <div class="container-buttons">
    <button (click)="onReset()" class="clear" type="button">
      <span>Limpar</span>
    </button>
    <button class="add" type="submit">
      <i class="fa-solid fa-circle-check"></i>
      <span>{{ idItem ? "Alterar" : "Adicionar" }}</span>
    </button>
  </div>
</form>
