:host {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  box-shadow: 0px;
}

h2:first-of-type {
  text-align: left;
  width: 100%;
  margin: -5px 0px 10px;
  font-weight: 400;
  color: white;
  padding: 8px 14px;
  border-radius: 5px;
  background-color: var(--background-tertiary);
}

form {
  width: 100%;
  background-color: var(--background-tertiary);
  padding: 20px;
  border-radius: 5px;
  color: white;
}

.container-form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 3px;
  margin-bottom: auto;
}

.form-group-data {
  display: flex;
  flex-direction: column;
  gap: 3px;
  flex-basis: 0;
}

.form-group-error {
  margin-bottom: -10px;
}

label {
  font-size: 1em;
}

input,
select {
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 0.95em;
  font-family: var(--body-font);
}

textarea {
  width: 100%;
  resize: none;
  height: 200px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.container-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}

button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 0.9em;
  transition: all 0.15s ease;
}

.add {
  color: var(--background-primary);
  background-color: var(--high-light-color);
  font-weight: 600;
  font-size: 1em;
  display: flex;
  align-items: center;
  gap: 2px;
}

.add:hover,
.clear:hover {
  cursor: pointer;
  transform: scale(1.035);
}

.add:active,
.clear:active {
  transform: scale(0.99);
}

.add i {
  font-size: 1.07em;
}

.error {
  color: rgb(255, 96, 96);
}

.border-error {
  border: 1px solid rgb(255, 96, 96);
}
