<h2>Categorias</h2>

<div class="form-group">
  <label for="new-category">Adicionar categoria:</label>
  <input
    [(ngModel)]="category"
    type="text"
    name="new-category"
    id="new-category"
    placeholder="Categoria"
  />
  <button [disabled]="!category.trim()" class="add" (click)="onAddCategory(category)" type="button">
    Adicionar categoria
  </button>
  @if (categorySelected) {
  <button
    class="delete"
    (click)="onDeleteCategory(categorySelected)"
    type="button"
  >
    Excluir categoria
  </button>
  }
</div>

<div class="container-cards">
  @for (category of listCategories; track $index) {
  <div
    (click)="selectedCategory(category)"
    class="card"
    [class.selected]="category == categorySelected"
  >
    <h3>Categoria: {{ category }}</h3>
  </div>
  }
</div>

<div>
  <h2>
    Itens
    <span *ngIf="selectedCategory">({{ categoryItems.length }})</span>
  </h2>

  <app-table [inputItems]="categoryItems"></app-table>
</div>
