<h2>Categorias</h2>

<div class="form-group">
  <label for="new-category">Adicionar categoria:</label>
  <input
    *ngIf="!confirm"
    [(ngModel)]="category"
    type="text"
    name="new-category"
    id="new-category"
    placeholder="Categoria"
    [readOnly]="categorySelected"
  />
  <input
    *ngIf="confirm"
    [(ngModel)]="categoryUpdated"
    type="text"
    name="updated-category"
    id="updated-category"
    placeholder="Novo nome"
  />
  <div class="actions">
    <button
      *ngIf="!categorySelected"
      [disabled]="!category.trim()"
      class="add"
      (click)="onAddCategory(category)"
      type="button"
    >
      Adicionar categoria
    </button>
    @if (categorySelected) {
    <button
      class="delete"
      (click)="onDeleteCategory(categorySelected)"
      type="button"
    >
      <i class="fa-solid fa-trash-can"></i>
      Excluir categoria
    </button>
    <button
      *ngIf="confirm"
      class="add"
      (click)="onUpdateCategory(categoryUpdated)"
      type="button"
    >
      Confirmar edição
    </button>

    <button [class.update]="!confirm" (click)="onEdit()" type="button">
      <i class="fa-solid fa-pen-to-square"></i>
      {{ confirm ? "Cancelar" : "Editar" }}
    </button>

    }
  </div>
</div>

<div class="container-cards">
  @for (category of listCategories; track $index) {
  <div
    (click)="selectedCategory(category)"
    class="card"
    [class.selected]="category == categorySelected"
  >
    <h3>Categoria: {{ category }}</h3>
  </div>
  }
</div>

<div>
  <h2>
    Itens
    <span *ngIf="selectedCategory">({{ categoryItems.length }})</span>
  </h2>

  <app-table [inputItems]="categoryItems"></app-table>
</div>
