.form-group {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 7px;
  flex-basis: 0;
  margin: 5px 0px 15px;
}

label {
  font-size: 1.1em;
}

input {
  padding: 1px;
  border-radius: 5px;
  border: none;
  font-size: 0.95em;
  font-family: var(--body-font);
}

button {
  padding: 6px;
  border: none;
  border-radius: 5px;
  font-size: 0.9em;
  transition: all 0.15s ease;
  font-weight: 500;
}

.add {
  color: var(--background-primary);
  background-color: var(--high-light-color);
  font-size: 1em;
  display: flex;
  align-items: center;
  gap: 2px;
}

button:hover {
  cursor: pointer;
  transform: translateY(3px);
}

.container-cards {
  /* max-width: 800px; */
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  flex-wrap: wrap;
  margin: 7px 0px 5px;
}

.card {
  background-color: var(--background-secundary);
  padding: 15px;
  border-radius: 5px;
  transition: all 0.2s ease;
  border: 2px solid transparent;
  box-shadow: 0px 0px 7px 7px var(--box-shadow);
  border: 2px solid var(--border-color);
  text-align: center;
  flex: 1 1 1;
}

.card h3 {
  font-weight: 400;
}

.card:hover {
  cursor: pointer;
  color: var(--high-light-color);
  border: 2px solid var(--high-light-color);
  transform: scale(1.02);
}

.selected {
  color: var(--high-light-color);
  border: 2px solid var(--high-light-color);
  transform: scale(1.02);
}

.delete {
  background-color: rgb(255, 82, 82);
}
div h2 {
  margin: 15px 0px 10px;
}