.form-group {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 7px;
  flex-basis: 0;
  margin: 5px 0px 25px;
  max-width: 900px;
}

label {
  font-size: 1.1em;
}

input {
  padding: 2px 5px;
  border-radius: 5px;
  border: none;
  font-size: 0.95em;
  font-family: var(--body-font);
  flex-grow: 1;
  border: 1px solid var(--background-tertiary);
}

button {
  padding: 6px;
  border: none;
  border-radius: 5px;
  font-size: 0.9em;
  transition: all 0.15s ease;
  font-weight: 500;
  flex-grow: 1;
}

.add {
  color: var(--background-primary);
  background-color: var(--high-light-color);
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.add:disabled {
  cursor: not-allowed;
  transform: none;
}

button:hover {
  cursor: pointer;
  transform: translateY(3px);
}

.actions {
  display: flex;
  gap: 10px;
}

.container-cards {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  flex-wrap: wrap;
  margin: 7px 0px 5px;
}

.card {
  background-color: var(--background-secundary);
  padding: 15px;
  border-radius: 5px;
  transition: all 0.2s ease;
  border: 2px solid transparent;
  box-shadow: 0px 0px 7px 7px var(--box-shadow);
  border: 2px solid var(--border-color);
  text-align: center;
  flex-grow: 1;
  flex-basis: 1;
  flex-shrink: 0;
}

.card h3 {
  font-weight: 400;
}

.card:hover {
  cursor: pointer;
  color: var(--high-light-color);
  border: 2px solid var(--high-light-color);
  transform: scale(1.02);
}

.selected {
  color: var(--high-light-color);
  border: 2px solid var(--high-light-color);
  transform: scale(1.02);
}

.delete {
  background-color: rgb(255, 82, 82);
}

.update {
  background-color: rgb(82, 220, 255);
}

div h2 {
  margin: 15px 0px 10px;
}

.error {
  border: 1px solid red;
  color: red;
}

.error::placeholder {
  color: red;
}

@media screen and (max-width: 573px) {
  .add {
    order: 1;
  }
  .remove {
    order: 0;
  }
}

@media screen and (max-width: 500px) {
  .container-cards {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  button {
    flex-grow: 1;
  }
}
