<h1>Dashboard</h1>
<div class="container-cards">
  <div class="card">
    <h3>Itens listados</h3>
    <h1>{{ Items.length }}</h1>
  </div>
  <div class="card">
    <h3>Total em estoque</h3>
    <h1>{{ itemsQuantity }}</h1>
  </div>
  <div class="card">
    <h3>Itens recentes</h3>
    <h1>{{ recentsItems.length }}</h1>
  </div>
  <div class="card">
    <h3>Itens acabando</h3>
    <h1>{{ lowStockItems.length }}</h1>
  </div>
</div>

<!-- TABLE -->

<div class="container-tables">
  <table>
    <thead>
      <tr>
        <th class="title-recent">
          Itens recentes
          <i class="fa-solid fa-circle-down"></i>
        </th>
        <th class="th-category">Categoria</th>
        <th class="th-options">Opções</th>
      </tr>
    </thead>

    <tbody>
      @for (recentItem of recentsItems; track recentItem.id) {
      <tr>
        <td class="name">{{ recentItem.name }}</td>
        <td class="category">{{ recentItem.category }}</td>
        <td>
          <a [routerLink]="['/items/', recentItem.id]">
            <i class="fa-solid fa-eye"></i>
            <span>Ver</span>
          </a>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th class="title-low-stock">
          Itens acabando
          <i class="fa-solid fa-circle-exclamation"></i>
        </th>
        <th class="th-quantity">Quantidade</th>
        <th class="th-category">Categoria</th>
        <th class="th-options">Opções</th>
      </tr>
    </thead>

    <tbody>
      @for (lowStockItem of lowStockItems; track lowStockItem.id) {
      <tr>
        <td class="name">{{ lowStockItem.name }}</td>
        <td class="qtd-item">{{ lowStockItem.quantity }}</td>
        <td class="category">{{ lowStockItem.category }}</td>
        <td>
          <a [routerLink]="['/items/', lowStockItem.id]">
            <i class="fa-solid fa-eye"></i>
            <span>Ver</span>
          </a>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
