:host {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  padding: 0px 30px;
}

h1 {
  font-family: var(--title-font);
  font-weight: 300;
  font-size: 2.25em;
  margin: 15px 0px 20px;
}

/*############# NAV #############*/

nav {
  margin: 5px 0px 25px;
  border-bottom: 1px solid var(--high-light-color);
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 1.1em;
}

li {
  transition: color 0.15s ease;
  padding-bottom: 6px;
}

.actived {
  color: var(--high-light-color);
  border-bottom: 2px solid var(--high-light-color);
  font-weight: bold;
}

li:hover {
  color: var(--high-light-color);
}
