<h1>Estoque de itens</h1>

<nav>
  <ul>
    <li>Todos os itens</li>
    <li>Adicionar item</li>
  </ul>
</nav>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Quantidade</th>
      <th>Categoria</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>1</td>
      <td>Bíblia</td>
      <td class="qtd-item">12</td>
      <td>Livros</td>
      <td class="actions">
        <a class="view" href="">
          <i class="fa-solid fa-eye"></i>
          <span>Ver</span>
        </a>
        <a class="update" href="">
          <i class="fa-solid fa-pen-to-square"></i>
          <span>Atualizar</span>
        </a>
        <button class="delete" type="button">
          <i class="fa-solid fa-trash"></i>
          <span>Excluir</span>
        </button>
      </td>
    </tr>
    <tr>
      <td>1</td>
      <td>Bíblia</td>
      <td>12</td>
      <td>Livros</td>
      <td class="actions">
        <a class="view" href="">
          <i class="fa-solid fa-eye"></i>
          <span>Ver</span>
        </a>
        <a class="update" href="">
          <i class="fa-solid fa-pen-to-square"></i>
          <span>Atualizar</span>
        </a>
        <button class="delete" type="button">
          <i class="fa-solid fa-trash"></i>
          <span>Excluir</span>
        </button>
      </td>
    </tr>
    <tr>
      <td>1</td>
      <td>Bíblia</td>
      <td>12</td>
      <td>Livros</td>
      <td class="actions">
        <a class="view" href="">
          <i class="fa-solid fa-eye"></i>
          <span>Ver</span>
        </a>
        <a class="update" href="">
          <i class="fa-solid fa-pen-to-square"></i>
          <span>Atualizar</span>
        </a>
        <button class="delete" type="button">
          <i class="fa-solid fa-trash"></i>
          <span>Excluir</span>
        </button>
      </td>
    </tr>
    <tr>
      <td>1</td>
      <td>Bíblia</td>
      <td>12</td>
      <td>Livros</td>
      <td class="actions">
        <a class="view" href="">
          <i class="fa-solid fa-eye"></i>
          <span>Ver</span>
        </a>
        <a class="update" href="">
          <i class="fa-solid fa-pen-to-square"></i>
          <span>Atualizar</span>
        </a>
        <button class="delete" type="button">
          <i class="fa-solid fa-trash"></i>
          <span>Excluir</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>

