@if (items && items.length > 0) {
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Quantidade</th>
      <th>Preço</th>
      <th>Categoria</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    @for (item of items; track item.id) {
    <tr>
      <td class="id">{{ item.id }}</td>
      <td class="name">{{ item.name }}</td>
      <td class="qtd-item">{{ item.quantity }} unid.</td>
      <td class="price-item">R$ {{ item.price.toFixed(2) }}</td>
      <td class="category">{{ item.category }}</td>
      <td class="actions">
        <a class="view" [routerLink]="['/items/', item.id]">
          <i class="fa-solid fa-eye"></i>
          <span>Ver</span>
        </a>
        <a class="update" [routerLink]="['/items/edit/', item.id]">
          <i class="fa-solid fa-pen-to-square"></i>
          <span>Atualizar</span>
        </a>
        <button (click)="onDeleteItem(item)" class="delete" type="button">
          <i class="fa-solid fa-trash-can"></i>
          <span>Excluir</span>
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
} @else {
<h1>O estoque está vazio :[</h1>
}
