:host {
  overflow: auto;
  display: flex;
  justify-content: flex-start;
}

table {
  max-width: 1200px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  box-shadow: 0px 0px 7px 7px var(--box-shadow);
}

thead {
  background-color: var(--background-tertiary);
  color: white;
}

th,
td {
  text-align: left;
}

tbody tr:hover {
  background-color: rgba(40, 37, 42, 0.35);
}

th {
  padding: 20px 18px;
}

thead th:first-of-type {
  border-radius: 5px 0px 0px 0px;
}

thead th:last-of-type {
  border-radius: 0px 5px 0px 0px;
}

td {
  padding: 10px 22px;
  border-bottom: 1px solid var(--border-color);
}

.actions {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}

td a,
td button {
  flex-grow: 1;
  font-size: 15px;
  border: none;
  background-color: var(--text-color);
  padding: 7px 9px;
  color: var(--background-primary);
  border-radius: 5px;
  margin: 3px 0px;
  transition: all 0.2s ease;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

td a:hover,
td button:hover {
  cursor: pointer;
  transform: translateY(3px);
}

td a:active,
td button:active {
  cursor: pointer;
  transform: scale(0.985);
}

td .update {
  background-color: rgb(96, 207, 255);
}

td .delete {
  background-color: rgb(255, 82, 82);
}

.delete-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(61, 60, 60, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-content {
  background-color: black;
  padding: 10px 20px 20px;
  border-radius: 7px;
}

.delete-content button {
  background-color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  font-size: 0.9em;
  transition: all 0.15s ease;
  font-weight: 500;
  flex-grow: 1;
}

.delete-content .delete {
  background-color: rgb(255, 82, 82);
}

button:hover {
  cursor: pointer;
  transform: translateY(3px);
}

.delete-content div {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

@media screen and (max-width: 827px) {
  tbody {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
  }

  .actions {
    margin-top: auto;
  }

  thead tr:first-of-type {
    display: none;
  }

  tr {
    flex-grow: 1;
    background-color: var(--background-secundary);
    display: flex;
    flex-direction: column;
  }

  td {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
  }

  td.id::before {
    content: "ID";
  }
  td.name::before {
    content: "Nome";
  }
  td.qtd-item::before {
    content: "Quantidade";
  }
  td.price-item::before {
    content: "Preço";
  }
  td.category::before {
    content: "Categoria";
  }
}
